{% if js is defined and js == true %}
    {% block javascripts %}
        {% javascripts
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts  %}
    {% endblock %}
{% endif %}

{% if css is defined and css == true %}
    {% block stylesheets %}
        {% stylesheets
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
{% endif %}

<!-- FILTER -->
{% if filterForm %}
    {% set filterForm = filterForm.createView()%}
    {% form_theme filterForm 'EarlsRhinoReportBundle:Form:filter_display.html.twig' %}
    <div action="{{url}}"  class="reportFilter">
        <form method="GET">
            <fieldset class="filter_legend">
                <legend class="filter_legend">Filters</legend>
                {% set exportName = 'export_report_format' %}
                {% if availableExport|length == 1 %}
                    <input type="hidden" name="{{ exportName }}" value="{{ availableExport[0] }}">
                {% else %}
                    <div class="panel panel-default">
                        <table class="table table-bordered table-condensed">
                            <tr>
                                <td><label>Report output</label></td>
                                <td class="input">
                                    <div class="horizontal">
                                        {% for key, export in availableExport %}
                                            <input type="radio" id="{{ exportName }}_{{ loop.index -1 }}" name="{{ exportName }}" value="{{ key }}" {% if loop.index == 1 %}checked="checked"{% endif %}>
                                            <label for="{{ exportName }}_{{ loop.index-1 }}">{{ export }}</label>
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    {{ form_widget(filterForm, {attr: {class: 'table table-bordered table-condensed'}}) }}
                </div>
                <div class="well well-sm">
                    <input class="btn btn-primary" type="submit" name="submit-filter" value="Filter" />
                    <a class="btn btn-default" href="{{ app.request.server.get('SCRIPT_URI') }}">Reset</a>
                </div>
            </fieldset>
        </form>
    </div>
{% endif %}
<!-- FILTER -->
