{% block report_unique_table_datatable %}
    {% javascripts
        '//cdn.datatables.net/1.10.4/js/jquery.dataTables.js'

    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts  %}

    {% stylesheets
       '//cdn.datatables.net/1.10.4/css/jquery.dataTables.css'
       '@EarlsRhinoReportBundle/Module/Table/Templating/DataTableTemplate/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% if template.getOptions().ajaxEnabled %}
        {% javascripts
            '@EarlsRhinoReportBundle/Module/Table/Templating/DataTableTemplate/Resources/public/js/tableManager.js'
            '@EarlsRhinoReportBundle/Module/Table/Templating/DataTableTemplate/Resources/public/js/tableInstance.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts  %}
    {% endif %}
{% endblock %}

{% block report_table_datatable %}
    {% set tableTemplate = element %}
    {% set table = tableTemplate.getModuleObject() %}
    {% set id = table.getId() %}
    
    <div id="{{id}}" class="myDataTable">
        <data class="dataTableData" data-load="{{tableTemplate.getData()|json_encode()}}"></data>
        <table class="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    {% for head in tableTemplate.getData().head %}
                        <th>{{head}}</th>
                    {% endfor %}
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}