{% block report_unique_table_datatable %}
    {% javascripts
        '@EarlsRhinoReportBundle/Resources/public/Table/vendor/DataTables/media/js/jquery.dataTables.min.js'
        '@EarlsRhinoReportBundle/Resources/public/Table/vendor/DataTables/plugins/boostrap/bootstrap.js'

    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts  %}

    {% stylesheets
        '@EarlsRhinoReportBundle/Resources/public/Table/vendor/DataTables/media/css/jquery.dataTables.min.js'
        '@EarlsRhinoReportBundle/Resources/public/Table/vendor/DataTables/plugins/boostrap/bootstrap.css'
        '@EarlsRhinoReportBundle/Module/Table/Templating/DataTableTemplate/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% if template.getOptions().ajaxEnabled %}
        {% javascripts
            '@EarlsRhinoReportBundle/Module/Table/Templating/DataTableTemplate/Resources/public/js/tableManager.js'
            '@EarlsRhinoReportBundle/Module/Table/Templating/DataTableTemplate/Resources/public/js/tableInstance.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts  %}
    {% endif %}
{% endblock %}

{% block report_table_datatable %}
    {% set tableTemplate = element %}
    {% set table = tableTemplate.getTransformedModuleObject() %}
    {% set id = table.id %}
    {% set attr = table.attr|default(null) %}
    
    <div id="{{id}}" class="myDataTable">
        <data class="dataTableData" data-load="{{tableTemplate.getData()|json_encode()}}"></data>
        <table {{ block('report_attributes') }}>
            <thead>
                <tr>
                    {% for head in tableTemplate.getData().head %}
                        <th>{{head}}</th>
                    {% endfor %}
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}

{% block report_attributes %}
    {% spaceless %}
        {% for attrname,attrvalue in attr %}{{attrname}}="{{attrvalue}}" {% endfor %}
    {% endspaceless %}
{% endblock %}
