{# manage filter display with tables #}
{% use "form_table_layout.html.twig" %}
{% use "LexikFormFilterBundle:Form:form_div_layout.html.twig" %}

{% block collection_widget_row %}
{% spaceless %}
<div class="collection-row">
    <div class="row">
        {% if allow_delete %}
            <div class="col-md-1"><a href="#" class="collection-delete"></a></div>
        {% endif %}
        <div class="col-sm-11">{{ form_widget(child) }}</div>
    </div>
</div>
{% endspaceless %}
{% endblock collection_widget_row %}

{% block collection_widget %}
{% spaceless %}
{% if prototype is defined %}
    {% set child = prototype %}
    {% set attr = attr|merge({'data-prototype': block('collection_widget_row'), 'class':( [attr.class|default(null), 'collection']|join(' ')) }) %}
{% else %}
    {% set attr = attr|merge({'class':( [attr.class|default(null), 'collection']|join(' ')) }) %}
{% endif %}
<div {{ block('widget_container_attributes') }}>
    {{ form_errors(form) }}
    {% for child in form.children %}
        {{ block('collection_widget_row')}}
    {% endfor %}
    {{ form_rest(form) }}
    {% if allow_add %}
        <div class="collection-row">
            <a href="#" class="collection-add"></a>
        </div>
    {% endif %}
</div>
<script type="text/javascript">

    jQuery(document).ready(function() {
        Admin.setup_collection_buttons(document);
    });

    var Admin = {
        stopEvent: function(event) {
            // https://github.com/sonata-project/SonataAdminBundle/issues/151
            //if it is a standard browser use preventDefault otherwise it is IE then return false
            if (event.preventDefault) {
                event.preventDefault();
            } else {
                event.returnValue = false;
            }

            //if it is a standard browser get target otherwise it is IE then adapt syntax and get target
            if (typeof event.target != 'undefined') {
                targetElement = event.target;
            } else {
                targetElement = event.srcElement;
            }

            return targetElement;
        },
        setup_collection_buttons: function(subject) {
            jQuery(subject).on('click', '.collection-add', function(event) {
                Admin.stopEvent(event);

                var container = jQuery(this).closest('[data-prototype]');
                var newWidget = container.attr('data-prototype');
                newWidget = newWidget.replace(/__name__label__/g, container.children().length);
                newWidget = newWidget.replace(/__name__/g, container.children().length);
                jQuery(newWidget).insertBefore(jQuery(this).parent());
            });

            jQuery(subject).on('click', '.collection-delete', function(event) {
                Admin.stopEvent(event);

                jQuery(this).closest('.collection-row').remove();
            });
        }
    }
</script>
{% endspaceless %}
{% endblock collection_widget %}